body {

    font-family:'Arial Narrow', Arial, sans-serif;
    color:#262626;
}

/*
.row {
    margin: 0 auto;
    background-color:#AAAAAA;
}*/

.cadastro{
    color:#F49D33;
}

.tela-inicial {
    text-align:center;
}

#icon-center {
    padding-left:35%;
}

.tela-confirmacao {
    background-image:url(https://media.lovemondays.com.br/logos/e3b058/cwi-software-original.png);
}

