body {
    font-family: Georgia,sans-serif;
    color: #DFE0E2;
}

.cadastro {
    color: #F49D33;
}

.tela-inicial {
    text-align: center;
    display: inline-block;
    margin-top: 10%;
    margin-left: 35%;
    width: 400px;
    height: 350px;
    background-color: #DFE0E2;
    background-size:cover;
    border-radius: 5px;
    padding-top: 20px;
}

.menu{
    background-color: #262626;
    height: 130px;
}

.menu img{
  height: 100px;
  width: 120px;
  margin: 10px;
}


.mascote img{
    width:150px;
    height:280px;
}

.mascote{
    width: 140px;
    float: right;
    position: absolute;
    margin-left: 777px;
    margin-top: 89px;
}



.g-recaptcha{
  margin: 20px;
}
