
body {
    background:url(http://orig11.deviantart.net/b6a3/f/2011/157/7/d/background_by_dilshan91-d3i95ek.jpg) no-repeat center center fixed;
}

.tela-login{
    text-align:center;
    width:300px;
    height:300px;
    display: inline-block;
    position:absolute;
    top:20%;
    left:40%;
    border: solid;
    border-radius: 5px;
    border-color:white;
    background-color:white;
}

.titulo-login{
    margin-bottom:50px;
    font-family:Centaur;
    font-weight:bold;
    font-size:50px;
}