
  insert into Candidato
  (Nome, Email, Instituicao, Conclusao, Curso, Status)
  values
  ('Anna', 'ana@hotmail.com', 'Unisinos', '12/19/1992', 'Ciencias da computação', 'Inicial');


    insert into Candidato
  (Nome, Email, Instituicao, Conclusao, Curso, Status)
  values
  ('Cesar', 'cesar@hotmail.com', 'Unisinos', 25/12/1992, 'Ciencias da computação', 'Inicial');
      
	insert into Candidato
  (Nome, Email, Instituicao, Conclusao, Curso, Status)
  values
  ('Carol', 'Carol@hotmail.com', 'Unisinos', 25/12/1992, 'Ciencias da computação', 'Inicial');








    insert into Administrador
  (Email, Senha, Nome)
  values
  ('rodrigo.scheuer@hotmail.com', '2e247e2eb505c42b362e80ed4d05b078', 'Rodrigo Scheuer');


  update Candidato
  set DataNascimento = '12/19/1992'
  where id = 1;