
@{
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.Title = "Pagina Inicial";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="tela-inicial"> 
        <div class="logo-menu"></div>
        <span class="glyphicon glyphicon-plus"> 
        <a href="@Url.Action("ProcessoSeletivo", "Administrativo")"> Abrir Processo Seletivo</a>
        </span>
        <br /><br /><br /><br />
        <span class="glyphicon glyphicon-list-alt"> 
        <a href="@Url.Action("ListaCandidatos", "Administrativo")"> Lista de Candidatos</a>
        </span>
    </div>
</body>
</html>
