@model List<InscricoesCrescer.Models.CandidatoParaReCadastroModel>

@{
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.Title = "Pagina Inicial";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="container-partial-views">

    </div>   
</body>
</html>
