@model List<InscricoesCrescer.Models.CandidatoModel2>

@{
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.Title = "Pagina Inicial";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2>Lista de Candidatos</h2>
    
    @Html.Partial("_listaCandidatos", Model)

</body>
</html>
