
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmaCadastro</title>
    <link href="~/Content/estilo.css" rel="stylesheet" />
</head>
<body class="tela-confirmacao">
    <div> 
        <h1 style="color:green">
            @TempData["cadastradoComSucesso"]
        </h1>
        <h1 style="color:red">
            @TempData["cadastradoInvalido"]
        </h1>
</div>
</body>
</html>
