
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmaCadastro</title>
</head>
<body>
    <div> 
        <h1>
            Cadastro Confirmado!
        </h1>
    </div>
</body>
</html>
