
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmaCadastro</title>
    <link href="~/Content/estilo.css" rel="stylesheet" />
</head>
<body class="tela-confirmacao">

    <div class="menu">
        <img src="~/Content/imagens/logo-vertical-claro.png" alt="Logo-Cwi">
    </div>

    <div class="div-mensagem">
        <h1 class="titulo-confirmacao"> Confirmação De E-mail </h1>

        <div class="mascote">
            <img src="~/Content/imagens/mascote-vetor.png" alt="mascote">
        </div>

        <h2 class="msg-servidor" style="color: green">
            @TempData["cadastradoComSucesso"]
        </h2>
        <h2 class="msg-servidor" style="color: red">
            @TempData["cadastradoInvalido"]
        </h2>
        <h2 class="subMensagem">
            @TempData["subMensagem"]
        </h2>

        <h2 class="link-site-cwi"><a href="https://cwi.com.br/Empresa/Crescer"> Visite nosso site e saiba mais </a></h2>

    </div>
</body>
</html>
