
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Administrativo</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/estilo.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div id="sidebar">
            <div class="menu logotipo">
            <img src="Content/imagens/logo-cwi.png" alt="Logo-Cwi">
            </div>
            <form class="navbar-form navbar-left">
                <div class="input-group">
                    <input type="text" class="form-control" id="filtro" placeholder="Pesquisar">
                    <div class="input-group-btn">
                        <button class="btn btn-default" id="btn-filtrar" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <ul>
                <li><a href="@Url.Action("Index", "Administrativo")" id="listar-candidatos">Lista de Candidatos</a></li>
                <li>
                    <a href="@Url.Action("ProcessoSeletivo", "Administrativo")" id="abrir-processo-seletivo"> Abrir Processo Seletivo</a>
                </li>
                <li><a href="@Url.Action("Logout", "Login")">Sair</a></li>
            </ul>
        </div>
        <div class="main-content">
            <div class="swipe-area"></div>
            <a href="#" data-toggle=".main-content" id="sidebar-toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="content">
                @RenderBody()
                
            </div>
        </div>
    </div>    
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>        
    <script>
        $(document).ready(function () {
            $("[data-toggle]").click(function () {
                var toggle_el = $(this).data("toggle");
                $(toggle_el).toggleClass("open-sidebar");
                $('#sidebar').toggleClass('change-sidebar');
            });

        });
    </script>
    <script src="~/Scripts/app/administrativo.js"></script>
</body>
</html>
