
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/estilo.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div id="sidebar">
            <div class="menu logotipo">
            <img src="Content/imagens/logo-cwi.png" alt="Logo-Cwi">
            </div>
            <ul>
                <li><a id="listar-candidatos">Lista de Candidatos</a></li>
                <li><a href="#">Pesquisar</a></li>
                <li>
                    <a href="@Url.Action("ProcessoSeletivo", "Administrativo")"> Abrir Processo Seletivo</a>
                </li>
                <li><a href="@Url.Action("Logout", "Login")">Sair</a></li>
            </ul>
        </div>
        <div class="main-content">
            <div class="swipe-area"></div>
            <a href="#" data-toggle=".main-content" id="sidebar-toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="content">
                @RenderBody()
                <div class="large"></div>
                <div class="large">Some other random content</div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("[data-toggle]").click(function () {
                var toggle_el = $(this).data("toggle");
                $(toggle_el).toggleClass("open-sidebar");
                $('#sidebar').toggleClass('change-sidebar');
            });

        });
    </script>
</body>
</html>
